html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
body
{
    margin: 0;
    padding: 0;

    background: linear-gradient(31deg, rgba(163,10,239,1) 36%, rgba(66,111,255,1) 100%);
}




.header_top
{
    height: 10%;

    background: rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    transition: all 250ms;

    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;
}

.header_top:hover
{
    background: rgba(51, 51, 51, 0.22);
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.164);
}

.header_button
{
    background: rgba(96, 10, 255, 0.2);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    
    border: none;
    padding: 15px;
    height: 55px;
    margin: 15px;
    width: 95px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0px 10px rgba(20, 20, 20, 0.3);
    transition: all 0.3s ease-in-out;

}

.header_button active_button
{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.header_button img 
{
    height: 25px;
    width: 25px;
    filter: invert(1); /* White icons */
}

.container
{
    min-height: 90vh;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;  
}

.main_body
{
    display: flex;  /* Enables flexbox */
    flex-direction: row; /* Aligns columns side by side */
    justify-content: center; /* Centers them horizontally */
    align-items: center; /* Aligns items vertically */

    background: rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    width: 90%;
    height: 85%;
    transition: all 250ms;
    margin-top: 25px;
    margin-bottom: 15px;
}

.main_body:hover
{
    background: rgba(51, 51, 51, 0.22);
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.11);
}

.column {
    display: flex;
    flex-direction: column;
    width: 45%; /* Ensures two columns fit in a row */
    max-width: 600px;
    border-radius: 10px;
    padding: 10px;
}

.content {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight:lighter;
    color: white;
    text-align: center;

    max-height: 500px;
    overflow-y: auto;
    flex: 1; /* Allow content to grow equally */
    margin: 15px; /* Spacing between content blocks */
    padding: 20px; /* Padding inside the content */

    background: rgba(192, 192, 192, 0.2);
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    transition: all 0.3s ease-in-out;
}

.content:hover
{
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.158);

}

.content h1
{
    font-size: 25px;
    font-weight:bold;
    color: white;
    margin: 8px;
}

.text_important
{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.685);
    font-weight:normal;
}

hr.solid 
{
    margin: 25px;
    background-color: #1f1f1f;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


/* width */
::-webkit-scrollbar 
{
    border-radius: 25px;
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track 
  {
    border-radius: 25px;
    background: rgba(43, 43, 43, 0);

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb 
  {
    background: rgba(0, 0, 0, 0.815);
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    transition: all 250ms;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover 
  {
    transition: all 250ms;
    background: rgba(0, 0, 0, 0.521);
  }


.basic_button_a
{
    background: rgba(34, 34, 34, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight:normal;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}

@media (max-width: 768px) {
    body {
        flex-direction: column; 
        align-items: center;
    }
    .container
    {
        min-height: 90vh;
    }
    .main_body
    {
        flex-direction: column; 
        align-items: center;

    }

    .column {
        width: 90%; 
    }

    .content {
        margin-top: 0px; 
        flex: none; 
    }
}
