.field input 
{
    background-color: #111111;
    border-radius: 25px;
    padding-bottom: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    outline: none; /* Removes default focus border */
    transition: all 250ms;
}

input[type="submit"] 
{
    font-size: 10px;
    font-weight:bold;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    margin: 0px;
}
.calendar_data_box h1
{
    margin: 0px;
    padding-left: 20px;
    text-align: left;
    font-size: 13px;
    font-weight:normal;
    color: white;
}

input[type="submit"]:hover
{
    background-color: #111111;
}

.field input:focus 
{
    font-size: 13px;
    font-weight:bold;
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    text-align: left;
    margin: 0px;
}

.padding-bottom--24 
{
    margin: 0px;
    padding-left: 20px;
    text-align: left;
    font-size: 18px;
    font-weight:normal;
    color: white;
}