.calendar_picked_day
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight:lighter;
    color: white;
    text-align: center;

    width: 80%;

    max-height: 500px;
    overflow-y: auto;
    flex: 1; /* Allow content to grow equally */
    margin: 15px; /* Spacing between content blocks */
    padding: 20px; /* Padding inside the content */

    background-color: #282828;

    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.calendar_picked_day:hover
{
    background-color: #252525;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.28);
}

.calendar_picked_day_title
{
    padding-bottom: 10px;
}

.calendar_picked_day_title a
{
    font-size: 20px;
    font-weight:bold;
    color: white;
    margin: 8px;
}

.calendar_picker_editor
{
    background-color: #282828;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

    padding: 15px;
    margin: 15px;
    min-width: 300px;
    display: flex;  /* Enables flexbox */
    flex-direction: row; /* Aligns columns side by side */
    justify-content: center; /* Centers them horizontally */
    align-items: center; 
    transition: all 0.3s ease-in-out;
}

.calendar_picker_editor:hover
{
    background-color: #252525;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.28);
}

h1 
{
	font-weight: 800;
    margin: 1rem 0 0;
}

ul 
{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(6rem, 2fr));
    justify-content: center; /* Centers the grid */
    align-items: center;
    gap: 1rem; /* Space between items */
    padding: 0;
    max-width: 100%; /* Allows full-width responsiveness */
}

@media (min-width: 600px) 
{
    ul 
    {
        gap: 2rem; /* Space between items */
		grid-template-columns: repeat(auto-fit, minmax(8rem, 2fr)); /* Adjusts dynamically */
        max-width: 40rem; /* Prevents stretching too much */
    }
}

ul li 
{
	 display: flex;
     cursor: pointer;
	 height: 7rem;
	 flex-flow: column;
	 border-radius: 0.2rem;
	 padding: 0.5rem;
     
     color: whitesmoke;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight:lighter;
	 font-size: 0.8rem;
	 box-sizing: border-box;

     background-color: #1d1d1d;
	 box-shadow: 0 0px 5px 5px rgba(252, 252, 252, 0.05);


	 border-radius: 10px;
     transition: all 0.3s ease-in-out;
}

ul li:hover {
    background-color: #191919;
    box-shadow: 0 8px 32px 0 rgba(85, 93, 204, 0.37);
}
 ul li time {
    font-size: 2rem;
}
 ul .today {
	 background: #fff 70;
}
 ul .today time {
	 font-weight: 800;
}
 
