.actual_day_editor
{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding-bottom: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}
.calendar_picker_editor
{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding-bottom: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    min-width: 700px;
}



 h1 {
	 font-weight: 800;
	 margin: 1rem 0 0;
}
 ul {
	 display: grid;
	 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	 flex-wrap: wrap;
	 list-style: none;
}
 ul li {
	 display: flex;
	 width: 10rem;
	 height: 10rem;
	 margin: 0.25rem;
	 flex-flow: column;
	 border-radius: 0.2rem;
	 padding: 1rem;
	 font-weight: 300;
	 font-size: 0.8rem;
	 box-sizing: border-box;
	 background: rgba(255, 255, 255, 0.25);
	 box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	 backdrop-filter: blur(4px);
	 -webkit-backdrop-filter: blur(4px);
	 border-radius: 10px;
	 border: 1px solid rgba(255, 255, 255, 0.18);
}
 ul li time {
	 font-size: 2rem;
	 margin: 0 0 1rem 0;
	 font-weight: 500;
}
 ul .today {
	 background: #fff 70;
}
 ul .today time {
	 font-weight: 800;
}
 
