
.calendar_data_box
{
    background-color: #111111;
    border-radius: 25px;
    padding-bottom: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

.calendar_data_box h2
{
    font-size: 10px;
    font-weight:bold;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    margin: 0px;
}
.calendar_data_box h1
{
    margin: 0px;
    padding-left: 20px;
    text-align: left;
    font-size: 13px;
    font-weight:normal;
    color: white;
}

.data_box_active 
{
    background-color: #1d1c1c;
}

.data_box_active h2
{
    font-size: 13px;
    font-weight:bold;
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    text-align: left;
    margin: 0px;
}
.data_box_active h1
{
    margin: 0px;
    padding-left: 20px;
    text-align: left;
    font-size: 18px;
    font-weight:normal;
    color: white;
}