.field input 
{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    border-radius: 10px;
    width: 50%;
    min-height: 44px;
    border: none;
    background: rgba(255, 255, 255, 0.521);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    outline: none; /* Removes default focus border */
    transition: all 250ms;
}

input[type="submit"] 
{
    margin-top: 0px;
    margin-bottom: 0px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 250ms;
}

input[type="submit"]:hover
{
    background: rgba(255, 255, 255, 0.144);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.field input:focus 
{
    outline: none; /* Removes default border */
    box-shadow: 0 4px 10px rgba(142, 68, 173, 0.5); /* Adds a soft glow */
}

.padding-bottom--24 
{
    padding-bottom: 24px;
}


.autocomplete 
{
    position: relative;
    display: inline-block;
}
  
.autocomplete input 
{
    border: none;
    background: rgba(255, 255, 255, 0.521);
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    outline: none; /* Removes default focus border */
    transition: all 250ms;
}
  
.autocomplete input[type=text] 
{
    width: 100%;
    background: rgba(255, 255, 255, 0.521);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    outline: none; /* Removes default focus border */
    transition: all 250ms;
}
  
  
.autocomplete-items 
{
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
  
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background: rgba(61, 61, 61, 0.651);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    outline: none; /* Removes default focus border */
    transition: all 250ms;
    margin-bottom: 10px;
}
  
  /*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}
  
  /*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}